body {
  font-family: "Arial", sans-serif;
}

pre {
  font-size: 18px;
  color: #007bff;
  white-space: pre-wrap;
}

.alert {
  font-size: 1.2em;
  background-color: #ffcc00;
  color: #333;
  border-radius: 0.5rem;
}
